<!--The content below is only a placeholder and can be replaced.-->
<div fxFlex="column" fxLayoutGap="6px">

  <div fxLayout="column">

    <button
      type="button"
      (click)="test(1)"
      nglButton="neutral"
      style="width: 100px"
    >
      load method 1
    </button>

    <button
      type="button"
      (click)="test(2)"
      style="width: 100px"
      nglButton="neutral"
    >
      load method 2
    </button>

    <button
      type="button"
      (click)="test(3)"
      style="width: 100px"
      nglButton="neutral"
    >
      load method 3
    </button>


    <button
      type="button"
      (click)="test(4)"
      style="width: 100px"
      nglButton="neutral"
    >
      load method 4
    </button>

    <input [(ngModel)]="pathModule" style="width: 100%">
  </div>

  <div fxLayout="row">
    <button
      type="button"
      (click)="listDir_clickHandler(InputPath.value)"
      nglButton="neutral"
    >
      listDir
    </button>

    <input #InputPath>

</div>


  <div #container>

  </div>

</div>


