<!--The content below is only a placeholder and can be replaced.-->
<div fxFlex="column" fxLayoutGap="6px">

  <div fxLayout="row">

    <button
      type="button"
      (click)="test()"
      nglButton="neutral"
    >
      load module
    </button>

    <input [(ngModel)]="pathModule" style="width: 100%">
  </div>

  <div fxLayout="row">
    <button
      type="button"
      (click)="listDir_clickHandler(InputPath.value)"
      nglButton="neutral"
    >
      listDir
    </button>

    <input #InputPath>

</div>


  <div #container>

  </div>

</div>


